.container {
  padding: 16px;
}

mat-card-title{
  width: 100%;
  text-align: center;
}

#agesChart {
  width: 600px;
}

#engineChart {
  width: 300px;
}

#hobbiesChart {
  width: 300px;
}

.mat-mdc-card-content:last-child {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


mat-card {
  height: 100%;
}

table {
  width: 350px;
}


.color-block {
  width: 35px;
  height: 35px;
  border: 1px solid #000;
}


.mat-mdc-card {
  box-shadow: none !important;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}


@media screen and (min-width: 640px) {
  #agesChart {
    width: 600px !important;
  }

  #engineChart {
    width: 300px !important;
  }

  #hobbiesChart {
    width: 300px !important;
  }
}


@media screen and (max-width: 640px) {
  #agesChart {
    width: 460px !important;
  }

  #engineChart {
    width: 270px !important;
    height: fit-content !important;
  }

  #hobbiesChart {
    width: 270px !important;
    height: fit-content !important;
  }
}

@media screen and (max-width: 500px) {
  #agesChart {
    width: 360px !important;
  }

  #engineChart {
    width: 240px !important;
  }

  #hobbiesChart {
    width: 240px !important;
  }
}


@media screen and (max-width: 600px) {
  .notSoImportant {
    display: none;
  }

  .mat-mdc-card-content {
    padding: 0 !important;
  }

}


@media screen and (max-width: 390px) {
  .container {
    padding: 6px;
  }
  #agesChart {
    width: 340px !important;
  }

  #engineChart {
    width: 220px !important;
  }

  #hobbiesChart {
    width: 220px !important;

  }
}

@media screen and (max-width: 360px) {
  .container {
    padding: 0;
  }
}