.container {
  padding: 16px;
}

mat-card {
  height: 100%;
}

table {
  width: 350px;
}


.color-block {
  width: 35px;
  /* Adjust width as needed */
  height: 35px;
  /* Adjust height as needed */
  border: 1px solid #000;
  /* Add border if needed */
}


.mat-mdc-card {
  box-shadow: none !important;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  // gap: 16px;
}


@media screen and (max-width: 600px) {
  .notSoImportant {
    display: none;
  }

  .mat-mdc-card-content {
    padding: 0 !important;
  }

}


@media screen and (max-width: 380px) {
  .container {
    padding: 6px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    padding: 0;
  }
}
