<div class="footer-container">
  <div class="footer">
    <div class="title">CarDealer</div>
    <ul class="nav-links">
      <li><a href="#">Help</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Guides</a></li>
      <li><a href="#">Contact</a></li>
      <a href="https://facebook.com" class="facebook-link">
        <i class="fa-brands fa-square-facebook icons"></i>
      </a>
      <a href="https://instagram.com" class="instagram-link">
        <i class="fa-brands fa-instagram icons"></i>
      </a>
  
  
    </ul>
    <div class="social-icons">
  
    </div>
  </div>
</div>