<div class="container">
  <div class="header">
    <div class="home-title">Explore Car Marketplace</div>
  </div>
  <div class="home-card">
    <div class="selected-image-container">
      <div class="selected-image" *ngIf="selectedImage">
        <img [src]="selectedImage.src" [alt]="selectedImage.alt">
      </div>
      <div class="image-description">
        <h2>{{ selectedImage.title }}</h2>
        <p>{{ selectedImage.description }}</p>
      </div>
    </div>
    <div class="image-thumbnails">
      <div *ngFor="let image of images" class="thumbnail-box" (click)="selectImage(image)">
        <img [src]="image.src" [alt]="image.alt">
      </div>
    </div>
  </div>
</div>