.container {
  width: 100%;
  height: 100%;
}

:host .mat-step-header {
  pointer-events: none;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.step-label {
  display: inline-block;
  word-wrap: break-word;
}

.step-mini-label {
  display: none;
}


@media screen and (max-width: 800px) {
  .step-label {
    display: none;
  }

  .step-mini-label {
    display: contents;
  }
}

@media screen and (max-width: 460px) {

  .step-mini-label {
    display: none;
  }

  ::ng-deep .mat-horizontal-stepper-header.mat-step-header {
    width: 1em !important;
  }
  
}


